<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills</h1>
    <nav>
    <a href="/skills">My skill list</a>
    </nav>